.container{
    width: 15rem;
    padding: 1rem 3rem;
    margin:1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    border: #8e7657;
    border-radius: 1rem;
    border: 1px solid #8e7657;
}

button{
    padding: 0.7rem 2rem;
    margin:1rem;
    background-color: burlywood;
    border-radius: 1.2rem;
    border: 1px solid #8e7657;
    color: #8e7657;
    font-size: 1.2rem;
}